[user]
	email = bartoszpiotrslawecki@gmail.com
	name = bswck
	signingkey = ~/.ssh/id_ed25519.pub

[core]
	excludesfile = ~/.gitignore_global

[commit]
	gpgSign = true

[gpg]
	format = ssh

[push]
	default = current
	autoSetupRemote = true

