[user]
	email = bartosz@slawecki.dev
	name = bswck
	signingkey = ~/.ssh/id_ed25519.pub

[core]
	excludesfile = ~/.gitignore_global
	editor = nano
	pager = delta

[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true  # use n and N to move between diff sections
	dark = true      # or light = true, or omit for auto-detection

[includeIf "gitdir:~/Codezarre/"]
	path = "~/.gitconfig-codezarre"

[includeIf "gitdir:~/Printbox/"]
	path = "~/.gitconfig-printbox"

[includeIf "gitdir:~/Python/"]
	path = "~/.gitconfig-python"

[includeIf "gitdir:~/Rustmeet/"]
	path = "~/.gitconfig-rust"

[includeIf "gitdir:~/HAI/"]
	path = "~/.gitconfig-hai"

[includeIf "gitdir:~/Anoptyk/"]
	path = "~/.gitconfig-anoptyk"

[includeIf "gitdir:~/NeverBlink/"]
	path = "~/.gitconfig-neverblink"

[commit]
	gpgSign = true

[gpg]
	format = ssh

[push]
	default = current
	autoSetupRemote = true

[rerere]
	enabled = true

[init]
	defaultBranch = main

[alias]
	tree = log --graph --decorate --pretty=oneline --abbrev-commit
